
body {
    background-color: #F5F5F5;
    margin: 0 auto;
    padding: 0;

}

.start {
    width: 100%;
    height: 100vh;
    background: #C7C7C7;
}

.section1 {
    width: 100%;
    height: 100vh;
    background: #C7C7C7;
}

.section2 {
    width: 100%;
    height: 100vh;
    background: #B5514D;
}

.section3 {
    width: 100%;
    height: 100vh;
    background: white;
}

.section4 {
    width: 100%;
    height: 100vh;
    background: #0693E3;
}


.section5 {
    width: 100%;
    height: 100vh;
    background: #389D8B;
}

.section6 {
    width: 100%;
    height: 100vh;
    background: #CCBA84;
}

.section7 {
    width: 100%;
    height: 100vh;
    background: white;
}

.section8 {
    width: 100%;
    height: 100vh;
    background: #BF75D8;
}

.section9 {
    width: 100%;
    height: 100vh;
    background: #587A9B;
}

.section10 {
    width: 100%;
    height: 100vh;
    background: #9A2A2D;
}

.section11 {
    width: 100%;
    height: 100vh;
    background: #EA7997;
}

.section12 {
    width: 100%;
    height: 100vh;
    background: #7F773F;
}


img {
    height: 80%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0 auto;
    display: block;
}

.hide {
    display: none;
    text-align: center;
}

h1 {
    
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    color: #222126;
    font-family: 'Anton', sans-serif;
    margin-top: -1em;
     
    
}


@media (max-width: 500px) {
    img {
        width: 100%;
        height: auto;
    }
    
    .hide {
        display: block;
    }
}
